
body {
    font-family: Inter, sans-serif;
    margin: 15px;

    --bg-colour: #272727;
    --primary-colour: #EEF0F2;
    --secondary-colour: rgba(125, 125, 125, 0.15);
    --border-colour: rgba(125, 125, 125, 0.25);
    --accent-colour: #fca311;

    --error-colour: #F87060;
    --error-colour-with-opacity: #F8706075;
    --warning-colour: #F3A712;
    --warning-colour-with-opacity: #F3A71275;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: var(--bg-colour);
    color: var(--primary-colour)
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inline-button {
    font-family: Inter, sans-serif;
    text-decoration: underline;
    cursor: pointer;
    color: var(--primary-colour);
    font-weight: bold;
    background: none;
    border: none;
}


.placeholder {
    animation: placeholder 1s ease infinite;
    border: 1px solid var(--border-colour);

}

@keyframes placeholder {
    0% {
        background: rgba(125, 125, 125, 0.15);
    }
    50% {
        background: rgba(125, 125, 125, 0);
    }
    100% {
        background: rgba(125, 125, 125, 0.15);
    }
}