@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;


    --bg-colour: #110E09;
    --primary-colour: whitesmoke;
    --secondary-colour: #1f1f1f;
    --accent-colour: rgba(125, 125, 125, 0.5);
    --tertiary-colour: #495057;
    --border-colour: rgba(125, 125, 125, 0.25);
    --transparent-colour: rgba(125, 125, 125, 0.1);
    --transparent-border-colour: rgba(125, 125, 125, 0.2);

    --error-colour: #F87060;
    --error-colour-with-opacity: #F8706075;
    --warning-colour: #F3A712;
    --warning-colour-with-opacity: #F3A71275;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: var(--bg-colour);
    color: var(--primary-colour)
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inline-button {
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
    cursor: pointer;
    color: var(--primary-colour);
    font-weight: bold;
    background: none;
    border: none;
}


.placeholder {
    animation: placeholder 1s ease infinite;
    border: 1px solid var(--border-colour);

}

@keyframes placeholder {
    0% {
        background: rgba(125, 125, 125, 0.15);
    }
    50% {
        background: rgba(125, 125, 125, 0);
    }
    100% {
        background: rgba(125, 125, 125, 0.15);
    }
}