@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;


    --bg-colour: #05080a;
    --primary-colour: whitesmoke;
    --secondary-colour: #28282f;
    --tertiary-colour: #30303a;
    --accent-colour: #d5872d;
    --border-colour: rgba(125, 125, 125, 0.25);
    --transparent-colour: rgba(125, 125, 125, 0.1);
    --transparent-border-colour: rgba(125, 125, 125, 0.2);

    --error-colour: #F87060;
    --error-colour-with-opacity: #F8706075;
    --warning-colour: #F3A712;
    --warning-colour-with-opacity: #F3A71275;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: var(--bg-colour);
    color: var(--primary-colour)
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inline-button {
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    cursor: pointer;
    color: var(--primary-colour);
    font-weight: bold;
    background: none;
    border: none;
}


.placeholder {
    animation: placeholder 1s ease infinite;
    border: 1px solid var(--border-colour);

}

@keyframes placeholder {
    0% {
        background: rgba(125, 125, 125, 0.15);
    }
    50% {
        background: rgba(125, 125, 125, 0);
    }
    100% {
        background: rgba(125, 125, 125, 0.15);
    }
}