#input-form-wrapper {
    padding: 15px;
}

#text-field-radio-group-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#submission-button {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    height: 38px;
    padding: 5px 20px;
    color: var(--primary-colour);
    background: var(--accent-colour);
    border: 2px solid var(--secondary-colour);

    cursor: pointer;

    transition: all 0.1s ease;
}

#submission-button:disabled {
    color: var(--transparent-border-colour);
    background: var(--tertiary-colour);
}