.robots-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 15px;
    padding: 15px;

    justify-content: center;
    align-items: flex-start;
}

.outline-wrapper {
    width: 500px;
    flex-grow: 1;
    background: var(--secondary-colour);
}

.robots-outline {
    display: flex;
    align-items: center;

    padding: 5px 15px;
    gap: 15px;
    border: 1px solid var(--border-colour);
    border-bottom: none;

}

.robots-list {
    flex-grow: 1;
    font-size: 1em;
    margin: 0;
    padding: 15px;
    max-height: 750px;
    overflow-y: scroll;
    overflow-x: scroll;

    border: 1px solid var(--border-colour);
}

.robots-list li:nth-child(even) {
  background-color: rgba(125,125,125,0.1);
}

.robots-line-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    list-style-type: none;
    padding: 0;
    counter-increment: item;

    transition: all 0.25s ease;
}


.robots-line-wrapper:before {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-weight: normal;
    width: 1.2rem;
    margin-right: 10px;
    content: counter(item);
    border-radius: 100%;
    text-align: center;
    display: inline-block;
}


.robots-line-wrapper:target {
    font-weight: bold;
    border: 1px solid var(--transparent-border-colour);
}

.robots-line-wrapper > p {
    margin: 0;
}

