
.robots-summary {
    width: 350px;
    height: max-content;
    flex-grow: 1;
    overflow: hidden;
    padding: 15px;
    background: var(--secondary-colour);
    border: 1px solid var(--border-colour);
}


.collapsed-summary {
    display: flex;
    align-items: center;
    gap: 10px;
}


.summary-li-instance {

}

.summary-li-instance > p {
    margin: 0;
}