.robots-details {
    margin: 0;
    padding: 15px;
    width: 600px;
    height: max-content;
    max-height: 793px;
    overflow-y: scroll;
    overflow-x: scroll;
    background: var(--secondary-colour);
    border: 1px solid var(--border-colour);
}

.summary-li-instance {

}

.summary-li-instance > p {
    margin: 0;
}